.definition{
  display: none;
  text-align: center;
}

.term{
  font-weight: bold;
  font-size: 1.4em;
}

input {
  display:none;
}

.container {
  display: table;
}

.card {
display: flex;
justify-content: center;
align-items: center;
height: 120px;
}
